.Xil/
*.cache/
*.data/
*.ipdefs/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.sdk/
*.xpr
utils_1/
*.srcs/utils_1/
reference.txt
*.log
*.tmp

# Ignoring Visual Studio Code workspace files
*.vscode
*.code-workspace
reference_git.md

# Ignoring old project3 folder - it used a different ip element for clocking
project_3/

# Ignore the entire generated output folder
*.gen/

# Standard Vivado generated directories and caches
*.cache/
*.runs/
*.sim/
*.hw/
*.ip_user_files/

# Vivado log and journal files
*.jou
*.log
*.str
*.vcd
*.svg

# Temporarily ignoring README files in project directories
project_1/README.md
project_2/README.md
project_3_new/README.md
project_4/README.md